.emoji-game-con {
  padding: 25px;
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emojis-container-unorder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}
.total-outer-con {
}
